*.DS_Store
*.obj
*.pdb
*.suo
*.user
*.cache
*.orig
*.iws
*.log
*.pyc
*.py~
*.map
*.pid
*.resharper
*.csproj.ReSharper
*.map
_ReSharper.*
.git
.hgignore
.hgrc
*.full.nuspec
pwc.zip

build-output
build-ouput
buildOutput
tmp
perflog

Debug/*
testResult/*
testResults/*
ErrorLogs/
bin/
obj/
